Repository jenkinsci/docker-ssh-agent, pull requests merged in 2023-09, with the labels that each got.

#301 Tracks Debian bookworm version thanks to updatecli
  debian/Dockerfile
  updatecli/updatecli.d/debian.yaml
Labels: chore, updatecli

#308 chore(updatecli) switch to HCL native resource + manifest fixes
  updatecli/updatecli.d/alpine.yaml
  updatecli/updatecli.d/debian.yaml
  updatecli/updatecli.d/jdk11.yaml
  updatecli/updatecli.d/jdk17.yaml
  updatecli/updatecli.d/npm.yaml
Labels: chore, updatecli

#309 feat(jdk): Add preview images for jdk21
  alpine/21/Dockerfile
  debian/21/Dockerfile
  docker-bake.hcl
Labels: enhancement, alpine, jdk21, debian

#315 feat(platforms): Adds ppc64le, s390x and arm/v7 for JDK21
  debian/21/Dockerfile
  docker-bake.hcl
Labels: enhancement

#314 chore(dependencies): Tracks JDK21 version
  updatecli/scripts/check-jdk.sh
  updatecli/updatecli.d/jdk21.yaml
Labels: chore, updatecli

#317 fix(docker): Adds "debian_jdk21" in s390x, arm32 and ppc64le groups.
  docker-bake.hcl
Labels: bug
