Repository jenkinsci/docker-ssh-agent, pull requests merged in 2023-11, with the labels that each got.

#344 chore(tests) use `bats` junit direct exporter to get rid of NodeJS and NPM
  Makefile
  updatecli/updatecli.d/node.yaml
  updatecli/updatecli.d/npm.yaml
Labels: chore, tests, bats

#345 chore(updatecli) track bats version
  updatecli/updatecli.d/bats.yaml
Labels: chore, updatecli, bats

#347 Use generally available JDK21 images
  README.md
  alpine/21/Dockerfile
  debian/Dockerfile
  debian/preview/Dockerfile
  docker-bake.hcl
  updatecli/scripts/check-jdk.sh
  updatecli/updatecli.d/jdk11.yaml
  updatecli/updatecli.d/jdk17.yaml
  updatecli/updatecli.d/jdk21-preview.yaml
  updatecli/updatecli.d/jdk21.yaml
Labels: enhancement, alpine, jdk21, debian

#351 chore: add `skip-changelog` label to dependabot PRs related to GHA
  .github/dependabot.yml
Labels: chore, github-action, skip-changelog
