Repository jenkinsci/docker-ssh-agent, pull requests merged in 2023-06, with the labels that each got.

#252 feat(alpine): Pin Alpine version to 3.17.3
  alpine/Dockerfile
  docker-bake.hcl
Labels: breaking, alpine

#251 chore(alpine): Tracks alpine linux base version
  updatecli/updatecli.d/alpine.yaml
Labels: chore, alpine

#257 chore(GHA) bump updatecli action to 2.31.0 (updatecli bumped to 0.53.0)
  .github/workflows/updatecli.yaml
Labels: chore, github_actions, updatecli

#256 chore(updatecli): Now tracks the JDK versions.
  updatecli/updatecli.d/temurin.yaml
Labels: chore, updatecli
