Repository jenkinsci/docker-ssh-agent, pull requests merged in 2024-06, with the labels that each got.

#422 fix: correct TEST_DEBUG retrieval in build.ps1
  build.ps1
Labels: bug, windows

#425 chore: remove unused build.ps1 `Build` parameter and commented line
  build.ps1
  tests/sshAgent.Tests.ps1
Labels: chore, windows

#429 cleanup: Remove the JDK21 preview
  debian/preview/Dockerfile
  docker-bake.hcl
  updatecli/scripts/check-jdk.sh
  updatecli/updatecli.d/jdk21-preview.yaml
Labels: breaking, jdk21-preview

#419 chore: define jdks to build at a single place in docker bake
  docker-bake.hcl
Labels: chore, bake

#421 fix: implement `docker` calls as `make` targets
  Jenkinsfile
  Makefile
  README.md
Labels: bug, linux

#424 chore: improve env var scopes and retrieve `VERSION` in build.ps1
  Jenkinsfile
  build.ps1
Labels: chore

#415 chore: use docker bake to generate docker compose file
  .gitignore
  README.md
  build-windows.yaml
  build.ps1
  docker-bake.hcl
Labels: enhancement, chore, windows

#430 hotfix(updatecli): remove docker compose target from manifests
  docker-bake.hcl
  updatecli/updatecli.d/jdk11.yaml
  updatecli/updatecli.d/jdk17.yaml
  updatecli/updatecli.d/jdk21.yaml
Labels: bug, updatecli
