Repository jenkinsci/docker-ssh-agent, pull requests merged in 2024-03, with the labels that each got.

#371 chore(updatecli) Re-enable JDK updates
  .github/workflows/updatecli.yaml
  updatecli/scripts/check-jdk.sh
  updatecli/updatecli.d/jdk11.yaml
  updatecli/updatecli.d/jdk17.yaml
  updatecli/updatecli.d/jdk21.yaml
  updatecli/values.temurin.yaml
Labels: chore, jdk17, updatecli, jdk21, jdk11

#289 feat(windows): refactor `docker-ssh-agent` build process like `docker-agent`
  .github/dependabot.yml
  Jenkinsfile
  build-windows.yaml
  build.ps1
  make.ps1
  tests/sshAgent.Tests.ps1
  tests/test_helpers.psm1
  updatecli/updatecli.d/git-lfs-windows.yml
  updatecli/updatecli.d/git-windows.yml
  updatecli/updatecli.d/jdk11.yaml
  windows/nanoserver/Dockerfile
  windows/windowsservercore/Dockerfile
Labels: enhancement, windows

#382 chore(updatecli/jdk21) only update Docker Bake file but not Dockerfiles as JDK17 is still the default
  updatecli/updatecli.d/jdk21.yaml
Labels: chore, updatecli, jdk21

#318 fix(windows): correct `git-lfs` installation and bump of its version to 3.4.1
  tests/sshAgent.Tests.ps1
  updatecli/updatecli.d/git-lfs-windows.yml
  windows/nanoserver/Dockerfile
  windows/windowsservercore/Dockerfile
Labels: bug, windows, git-lfs

#385 feat(Windows): add Windows LTSC 2022 support
  Jenkinsfile
Labels: enhancement, windows

#370 feat(JDK21) Use official Temurin build for linux/s390x
  docker-bake.hcl
Labels: enhancement, jdk21

#386 chore(Windows): add OpenSSH updatecli manifest
  updatecli/updatecli.d/openssh.yml
Labels: chore, windows, updatecli, openssh
