Repository jenkinsci/docker-ssh-agent, pull requests merged in 2024-07, with the labels that each got.

#433 fix: pin windowsservercore-ltsc2019 to April 2024 release
  docker-bake.hcl
  windows/nanoserver/Dockerfile
  windows/windowsservercore/Dockerfile
Labels: bug, windows-server-core

#435 Revert "fix: pin windowsservercore-ltsc2019 to April 2024 release"
  docker-bake.hcl
  windows/nanoserver/Dockerfile
  windows/windowsservercore/Dockerfile
Labels: chore, windows

#442 chore(Jenkinsfile) avoid Docker API rate limit
  Jenkinsfile
Labels: skip-changelog
